.header {
  display: flex;
  background-color: wheat;
}

.navlinks {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  list-style-type: none;
}

.navlink {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
}

.pageContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.userName {
  padding: 16px;
}
