.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; /* расстояние между товарами */
}

.productCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImage {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.productImage:hover {
  transform: translateY(10px);
}

.productName {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.productDescription {
  color: #666;
  margin-bottom: auto;
  text-align: center;
}

.productPrice {
  font-weight: bold;
  font-size: 22px;
  margin-top: auto;
}

.productButton {
  display: inline-block;
  margin-top: auto;
  padding: 10px 20px;
  background-color: #e0b776;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
}

.productButton:hover {
  background-color: #ff621e;
}

.productDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sortSelect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
}

.searchButton {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #357c43;
  color: #fff;
  cursor: pointer;
}

.searchForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.deleteButton {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ff621e;
  color: #fff;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
}

.deleteButton:hover {
  background-color: #e0b776;
}

.updateButton {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #357c43;
  color: #fff;
  cursor: pointer;
  width: 150px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 0;
}

.updateButton:hover {
  background-color: #e0b776;
}

.formInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.formLabel {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.formTextarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  resize: none;
  height: 100px;
}

.submitButton {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #357c43;
  color: #fff;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
